{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "modules": true,
    "jsx": true,
    "blockBindings": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "quotes": [2, "single"],
    "eqeqeq": [2, "smart"],
    "space-after-keywords": 2,
    "no-console": 1
  }
}
