{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "eqeqeq": [
      2,
      "smart"
    ],
    "keyword-spacing": 2,
    "no-console": 1
  }
}
