*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  background: #0066bb url(../images/reactjs.png) no-repeat right 10px;
  background-size: contain;
  h1 {
    display: inline-block;
    padding: 0 20px;
  }
  a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    &.active,
    &:hover {
      background-color: #0085F3;
    }
  }
}

section {
 padding: 20px;
}
